* {

    margin:0px;
    padding:0px;
    font-family:var(--font_0);

}

:root {

    --cor_1:#1f689e;
    --cor_1_sombra:rgba(1, 80, 145, 0.76);
    --cor_2:#fff;
    --cor_2_sombra:rgba(175, 175, 175, 0.705);
    --cor_3:rgb(219, 15, 83);
    --cor_3_sombra:rgba(163, 9, 60, 0.788);
    --cor_4:rgba(56, 56, 56, 0.616);

    --font_0:Arial;
    --font_1:Painter;
    --font_2:Ubuntu;

}

@font-face {

    font-family:Painter;
    src: url(./fonts/Painter.ttf);

}

@font-face {
    font-family:Ubuntu;
    src: url(./fonts/Ubuntu-R.ttf);
}

.org_site {

    display:flex;
    flex-direction:column;
    align-items:center;
    overflow:hidden;

}

.titulo {

    margin-top:8vh;
    margin-bottom:8vh;
    color:var(--cor_1);
    font-size:35px;
    font-family:var(--font_2);

}

.s_img{

    box-shadow:0 0 10px 5px var(--cor_3_sombra);

}

.inv {

    display:none;

}

@media only screen and (min-width:200px) and (max-width:520px) {

    .titulo {

        font-size:23px;

    }

}