.select_file {

    margin:4vh;

}

.select_file button {

    width:15vw;
    height:8vh;
    font-size:20px;
    background:var(--cor_1);
    box-shadow:4px 4px 10px 2px var(--cor_1_sombra);
    color:var(--cor_2);
    border-radius:10px;
    border-style:none;

}

.select_file button:hover {

    width:15.5vw;
    height:9vh;
    box-shadow:4px 4px 15px 4px var(--cor_1_sombra);

}

.select_file button:active {

    background:var(--cor_3);
    box-shadow:4px 4px 10px 2px var(--cor_3_sombra);
    color:var(--cor_2);
    width:14.8;
    height:7.8;

}

.im {

    display:flex;
    justify-content:center;
    align-items:center;
    border-style:dashed;
    min-width:20vw;
    min-height:20vw;
    border-radius:5px;

}

#img_edit {

    width:30vw;
    margin-top:1.5vw;
    margin-bottom:1.5vw;
    margin-left:2vw;
    margin-right:2vw;

}

.molduras {

    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    margin:1vh;
    padding:20px;
    width:80vw;

}

.moldura {

    width:12vw;
    height:16vw;
    margin:1vh;

}

.moldura img {

    width:10vw;
    height:15vw;
    margin:5vh;
    padding:5px;

}

.moldura img:hover {

    box-shadow:0 0 10px 2px var(--cor_1_sombra);

}

.moldura img:active {

    box-shadow:0 0 10px 5px var(--cor_2_sombra);

}

.load {

    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    position:fixed;
    top:0px;
    width:100%;
    height:100%;
    font-size:40px;
    color:var(--cor_2);
    background:var(--cor_4);

}

.load img {

    width:10vw;

}

.b_save {

    display:flex;
    justify-content:center;
    margin:5vh;

}

.b_save button {

    background:var(--cor_3);
    box-shadow:0 0 10px 5px var(--cor_3_sombra);
    color:var(--cor_2);
    width:11vw;
    height:6vh;
    border-radius:10px;
    border-style:none;
    font-size:20px;

}

.b_save button:hover {

    width:11.5vw;
    height:7vh;
    border-radius:15px;

}

.b_save button:active {

    background:var(--cor_2);
    color:var(--cor_3);
    width:10.8vw;
    height:6.8vh;

}

@media only screen and (min-width:200px) and (max-width:520px) {

    .select_file button {

        width:65vw;

    }

    .select_file button:hover {

        width:66vw;

    }

    .select_file button:active {

        width:64.5vw;

    }

    .molduras {

        width:90vw;
        padding:0px;
        margin-left:-8vh;

    }

    .moldura {

        width:30.5vw;
        height:40.5vw;

    }

    .moldura img {

        width:30vw;
        height:40vw;

    }

    .b_save {

        margin-top:8vh;

    }

    .b_save button {

        width:40vw;

    }

    .b_save button:hover {

        width:41vw;

    }

    .b_save button:active {

        width:39.5vw;

    }

}