.image_edits {

    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    width:90vw;

}

.img_edit {

    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:12.5vw;
    height:12.5vw;
    margin:1vw;

}

.img_edit img {

    width:12vw;
    height:12vw;

}

.intro {

    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;

}

.im_intro img {

    width:30vw;
    height:30vw;
    margin:4vh;

}

.texto_into {

    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    word-wrap:break-all;
    width:30vw;

}

.n_img {

    align-items:center;
    text-align:center;
    margin-top:2vh;
    width:30vw;

}

.button_intro {

    width:14vw;
    height:6vh;
    font-size:18px;
    border-radius:10px;
    border-style:none;
    background:var(--cor_1);
    color:var(--cor_2);
    margin-top:2vh;
    box-shadow:2px 2px 10px 4px var(--cor_1_sombra);

}

.button_intro:hover {

    width:15vw;
    box-shadow:2px 2px 12px 4px var(--cor_1_sombra);

}

.texto {

    font-size:20px;

}

@media only screen and (min-width:200px) and (max-width:520px) {

    .img_edit {

        width:40.5vw;
        height:40.5vw;

    }

    .img_edit img {

        max-width:40vw;
        max-height:40vw;
    
    }

}