.image_edits {

    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    width:90vw;

}

.img_edit {

    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:12.5vw;
    height:12.5vw;
    margin:1vw;

}

.img_edit img {

    max-width:12vw;
    max-height:12vw;

}