.image_edits {

    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    width:90vw;

}

.img_edit {

    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:12.5vw;
    height:12.5vw;
    margin:1vw;

}

.img_edit img {

    width:12vw;
    height:12vw;

}

.intro {

    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin-top:10vh;

}

.im_intro img {

    width:40vw;
    height:40vw;
    margin:4vh;

}

.texto_into {

    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    word-wrap:break-all;
    width:30vw;

}

.n_img {

    align-items:center;
    text-align:center;
    margin-top:2vh;
    width:30vw;

}

.n_img_t {

    font-size:20px;
    color:var(--cor_4);

}

.button_intro {

    width:24vw;
    height:8vh;
    font-size:18px;
    border-radius:10px;
    border-style:none;
    background:var(--cor_1);
    color:var(--cor_2);
    margin-top:2vh;

}

.button_intro:hover {

    width:25vw;
}

.texto {

    font-size:20px;

}

@media only screen and (min-width:200px) and (max-width:520px) {

    .intro {

        flex-direction:column;

    }

    .im_intro img {

        width:80vw;
        height:80vw;
    
    }

    .texto_into {

        width:80vw;
    
    }

    .n_img {

        
        width:30vw;
    
    }
    
    .button_intro {
    
        width:70vw;
        height:10vh;
    
    }

    .img_edit {

        width:40.5vw;
        height:40.5vw;

    }

    .img_edit img {

        max-width:40vw;
        max-height:40vw;
    
    }

}