.topo {

    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background: var(--cor_1);
    box-shadow:0 4px 10px 6px var(--cor_1_sombra);
    width:100vw;
    height:12vh;
    overflow:hidden;

}

.logo_topo {

    justify-content:flex-start;
    color:var(--cor_2);
    font-family:var(--font_1);
    font-size:35px;
    margin-top:2vh;
    margin-left:4vw;

}

.button_topo {

    justify-content:flex-end;
    margin-top:2vh;
    margin-right:4vw;

}

.button_topo:hover {

    margin-right:5vw;

}

.button_topo:active {

    margin-right:5.5vw;

}

.button_topo button {

    border-style:none;
    padding:15px;
    border-radius:20px;
    font-size:20px;
    font-family:var(--font_2);
    color:var(--cor_1);
    background:var(--cor_2);
    box-shadow:2px 2px 10px 4px var(--cor_2_sombra);


}

.button_topo button:hover {

    padding:20px;
    box-shadow:4px 5px 10px 5px var(--cor_2_sombra);

}

.button_topo button:active {

    padding:13px;

}

@media only screen and (min-width:200px) and (max-width:520px) {

    .logo_topo {

        font-size:20px;
        margin-top:4vh;
        margin-left:6vw;

    }

    .button_topo {

        margin-top:2.5vh;

    }

    .button_topo button {

        padding:8px;

    }

    .button_topo button:hover {

        padding:9px;
        box-shadow:4px 5px 10px 5px var(--cor_2_sombra);
    
    }
    
    .button_topo button:active {
    
        padding:7.5px;
    
    }

}