* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Ubuntu', sans-serif;
}

.ds_none{
    display: none !important;
}

.main_header{
    width: 100%;
    background-color: var(--cor_1);
    z-index: 100;
}

.main_header .main_header_content{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
}

.main_header .main_header_content .logo{
    flex-basis: 240px;
    padding: 10px;
    max-width: 200px;
}

.main_header .main_header_content .logo img{
    width: 100%;
}

.main_header .main_header_content .main_header_content_menu{
    flex-basis: calc(100% - 240px);
    display: flex;
    justify-content: flex-end;
}

.main_header_content_menu ul{
    display: flex;
    align-items: stretch;
}

.main_header_content_menu ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

.main_header_content_menu ul li a{
    padding: 0 15px;
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--cor_2);
}

.main_header_content_menu ul li a:hover{
    color: var(--cor_1);
    background-color: var(--cor_2);
}


.btn_icone_girar_foto img{
    min-width: 100px;
}